*.fits
.DS*
.idea
catalogs/zspecs/
images/
oldcode/
*.png
*.zip
ediscs_paper/
*.txt
*.csv
classification_code/
*.eps
.ipynb_checkpoints
__pycache__
old_stuff

build_table_for_anja.py
personal_catalogs/
slit_masks_dj/
slit_masks_targetting/
spectables_greg/
morphology_analysis/
